
GitIgnore/Chi/controlcheck.m
GitIgnore/Chi/equilibrium.m
GitIgnore/Chi/fcnblock.m
GitIgnore/Chi/knormal.m
GitIgnore/Chi/initialise.m
GitIgnore/Chi/stabilitycheck.m
GitIgnore/Chi/observecheck.m
GitIgnore/EGH445AssignmentOneCervantes.docx
GitIgnore/Rar/FindPoles_n10295399.m
GitIgnore/Rar/Linear_n10295399.slx
GitIgnore/Rar/main_n10295399.m
GitIgnore/Rar/NonLin_n10295399.slx
GitIgnore/Rar/Plots_n10295399.m
